.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  column-gap: 10px;
}

.App > * {
  flex: 1;
}


@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


label {
  display: flex;
  margin-top: 10px;
  flex: 1;
  width: 100%;
}

/* nav.navbar { position: inherit; } */

.react-calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 300px;
  flex: 1;
}

.login-form,
.signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 100px; */
}


/* Add event / Add vendor */

.vendorForm {
  width: 500px;
  min-width: 400px;
  max-width: 600px;
}


.add-event-screen {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


/* events component */


img{
  font-size:100px;
}
#projects_grid {
 display: flex;
 flex-wrap: wrap;
 justify-content:space-around;
 align-items: center;
 height: 100%;
}
a.thumbnail, a.thumbnail:hover {
 text-decoration: none;
 border: none;
}

.project-item {
 color: #393E46;
 background: #eeeeee;
 text-decoration: none;
 min-width: 300px;
 max-width: 300px;
 width: 33%;
 padding: 20px;
 height: 100%;
 min-height: 200px;
 margin-top: 30px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}
p.project-item.event-card-title {
  color: #393E46;
  background: #eeeeee;
}
p.project-item.event-card-title:hover  {
  background: #393E46;
  color:#eeeeee;
}
.project-item > img {
 width: 100%;
 padding-top: 20px;
 padding-bottom: 20px;
 height: 100%;
 object-fit: contain;
 object-position: center;
}
.project-item:hover {
 background: #005b38;
 color:#eeeeee;
 text-decoration: none;
}


/* navbar */
/* .dropdown-toggle:active{
  background-color: #005b38;
  color: white;
} */
.dropdown-menu {
	min-width: 200px;
  background-color: #005b38;
  color: white;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	white-space: normal;
  text-decoration: none;
  color: white;
  background: #005b38;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
  background: white;
  color:#005b38;
 
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

/* event details component */


.eventDetailImage {
  /* height: 500px;
  width: 500px; */
  max-height: 500px;
  max-width: 500px;
}

#eventDetailContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

#leftColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* width: 30%; */
  /* max-width: 400px; */
}

#rightColumn {
  display: flex;
  padding-top: 30px;
  flex: 1;
  /* flex-shrink: 1; */
  flex-direction: column;
  justify-content: space-around;
  /* align-items: ; */
  min-height: 300px;
  /* width: 50%; */
  /* min-width: 400px; */
}


/* login modal */

.login-form {
  z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}

.form-box {
  margin-top: 7vh;
  opacity: 80%;
  background: black;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.login-text {
  width: 100%;
  color: white;
  border-bottom: 2px solid white;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.login-button{
  background-color: #005b38;
  color: white;
  text-decoration: none;
}
.login-button:hover {
  color: #005b38;
  background-color: lightgray;
  text-decoration: none;
}